body
    {
        text-align-last:left;
        background:rgb(173, 230, 225);
        background-size: cover;
        background-attachment: fixed;
    }

    h1
    {
        text-align-last: center;
        color: #131212;
        font-size: 28px;
    }

    label
    {
        text-align-last: center;
        color: #e00303;
        font-size: 25px;
    }

    option
    {
        text-align-last: center;
        color: #2424b6;
        font-size: 15px;
    }
   
    select
    {
        text-align-last: center;
        color: #1919c2;
        font-size: 15px;
    }

    span{
        font-size: 20px;
    }